*
!.config

# FISH
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/fish_prompt.fish

# HYPRLAND
!wallpaper.jpg
!.config/hypr
!.config/hypr/hyprland.conf
!.config/hypr/hyprpaper.conf

# FASTFETCH
!.config/fastfetch
!.config/fastfetch/config.jsonc

# KITTY
!.config/kitty
!.config/kitty/kitty.conf

# NEOVIM
!.config/nvim
!.config/nvim/config
!.config/nvim/plugins
!.config/nvim/config/*.lua
!.config/nvim/plugins/*.lua
!.config/nvim/*.lua

!.config/obsidian
.config/*

# XMONAD
!.xmonad
!.xmonad/**.hs

# OTHER FILES
!.vimrc
!.bashrc
!.xinitrc
!.xprofile
!.xsession
!.alacritty.toml
!root_etc_xdg_picom.conf

# VERSION CONTROL
!README.md
!.gitignore
!.gitconfig
!.gitattributes
# hosts.yml
# WAYBAR
!.config/waybar
!.config/waybar/config.jsonc
!.config/waybar/style.css

# open-webui
!.confg/open-webui
!.config/open-webui/docker-compose.yml

#ags
!.config/ags
!.config/ags

# fastfetch
!.config/fastfetch
!.config/fastfetch/config.jsonc

# rofi
!.config/rofi
!.config/rofi/config.rasi
!.config/rofi/themes
!.config/rofi/themes/*.rasi
!.config/rofi/**

# open-webui
!.config/open-webui
!.config/open-webui/docker-compose.yaml

# fonts
.local/*
!.local
!.local/share
!.local/share/fonts
!.local/share/fonts/**
!.local/share/fonts/**/**

# icons
!.local/share/icons
!.local/share/icons/BeautySolar
!.local/share/icons/BeautySolar/*

# feh
!.fehbg

# picom
!.config/picom.conf

# GTK
!.config/gtkrc
!.config/gtkrc-2.0
!.config/gtk-2.0
!.config/gtk-3.0
!.config/gtk-4.0
!.config/gtkrc-2.0
!.config/gtk-2.0/gtkfilechooser.ini
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/settings.ini
