* {
    border: none;
    border-radius: 0;
    font-family: "Comfortaa";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ebdbb2;
}

#workspaces button {
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-size: 28px;
}

#workspaces button.focused {
    background-color: #a6e3a1;
    color: #282a36;
    border-radius: 3px;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#mode {
    background: #b8bb26;
    color: #282828;
    padding: 5px 10px;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #tray, #idle_inhibitor, #power-profiles-daemon, #bluetooth, #custom\/screenshot, #custom\/temp {
    padding: 0 10px;
}


#clock {
    color: #fab387;
}

#battery {
    color: #a6e3a1;
}

#battery.charging {
    color: #94e2d5;
}

#battery.warning:not(.charging) {
    color: #f9e2af;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
}

#cpu {
    color: #89b4fa;
}

#memory {
    color: #cba6f7;
}

#temperature {
    color: #f5c2e7;
}

#temperature.critical {
    color: #f38ba8;
}

#network {
    color: #b4befe;
}

#network.disconnected {
    color: #f38ba8;
}

#pulseaudio {
    color: #f2cdcd;
}

#pulseaudio.muted {
    color: #6c7086;
}

#backlight {
    color: #fabd2f;
}

#tray {
    background-color: transparent;
    padding: 0 10px;
}

#idle_inhibitor {
    color: #cdd6f4;
}

#idle_inhibitor.activated {
    color: #a6e3a1;
}

#power-profiles-daemon {
    color: #f9e2af;
}

#bluetooth {
    color: #89b4fa;
}

#bluetooth.disabled {
    color: #6c7086;
}

#custom\/screenshot {
    color: #d3869b;
}
